div {
    width: 380px;
    height: 380px;
    margin: 6em;
    background: #D9D9D9;
    text-align: center;
    color: white;  
    border-radius: 50%; /* Make the div circular */
    position: absolute; /* Set the position to absolute */
    overflow: hidden; /* Hide overflow content */
   
  }
  
  @keyframes lotate {
    0% {
      transform: rotate(0deg)
    }
  
    50% {
      transform: rotate(180deg)
    }
  
    100% {
      transform: rotate(360deg)
    }
  }
  
  #circle1 {
    animation-name: lotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0;
    left: 0;
  }
  
  @keyframes lotate2 {
    0% {
      transform: rotate(0deg);
    }
  
    80% {
      transform: rotate(180deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  #circle2 {
    animation: lotate2 3s infinite linear;
    top: 300px;
    left: 300px;
    font-weight: normal; /* Set your desired font weight */
    text-align: center; /* Center-align text */
    line-height: 300px; /* Adjust the line-height based on the circle height */
  }
  #circle3 {
    animation: lotate2 5s infinite linear;
    top: 600px;
    left: 600px;
  }
  #circle4 {
    animation: lotate2 6s infinite linear;
    top: 900px;
    left: 900px;
  }
  

  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200vh; /* Adjusted to 100vh for a single screen height */
    margin: 0;
    background-color: white;
    color: rgb(163, 163, 163);
  
    margin-right: 20px; /* Adjust the right margin to move text to the right */
  }
  
  .falling-text p {
    display: inline-block;
    font-size: 26px;
    animation: fall 1s ease-out forwards;
    opacity: 0; /* Start with opacity 0 to make letters appear gradually */
  }
  
  .falling-text p:nth-child(1) {
    animation-delay: 0.2s; /* Adjust the delay for the first letter */
  }
  
  .falling-text p:nth-child(2) {
    animation-delay: 0.4s; /* Adjust the delay for the second letter */
  }
  
  .falling-text p:nth-child(3) {
    animation-delay: 0.6s; /* Adjust the delay for the third letter */
  }
  
  /* Add more nth-child rules for additional letters in the sentence */
  
  @keyframes fall {
    0% {
      transform: translateY(-50px) rotate(0deg);
      opacity: 0;
    }
    
    100% {
      transform: translateY(0) rotate(360deg);
      opacity: 1;
    }
  }

