.e7_11 { 
	overflow:hidden;
}
.e7_11 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e31_4 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:25px;
	top:52px;
}
.e31_9 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:508px;
	top:306px;
}
.e31_5 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:261px;
	top:425px;
}
.e31_6 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:502px;
	top:52px;
}
.e31_8 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:261px;
	top:152px;
}
.e31_13 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:508px;
	top:542px;
}
.e31_14 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:27px;
	top:760px;
}
.e31_11 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:513px;
	top:779px;
}
.e31_15 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:270px;
	top:679px;
}
.e31_40 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:745px;
	top:61px;
}
.e31_49 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:990px;
	top:406px;
}
.e31_41 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:1228px;
	top:315px;
}
.e31_42 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:27px;
	top:415px;
}
.e31_43 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:1222px;
	top:61px;
}
.e31_44 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:981px;
	top:161px;
}
.e31_45 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:1228px;
	top:551px;
}
.e31_46 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:747px;
	top:769px;
}
.e31_47 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:1233px;
	top:788px;
}
.e31_48 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.2800000011920929);
	width:200px;
	height:200px;
	position:absolute;
	left:990px;
	top:688px;
}
.e31_39 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1164px;
	height:789px;
	position:absolute;
	left:149px;
	top:52px;
	font-family:Times New Roman;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e31_37 { 
	color:rgba(150.48486024141312, 147.1930056810379, 147.1930056810379, 1);
	width:1101px;
	height:671px;
	position:absolute;
	left:194px;
	top:212px;
	font-family:Times New Roman;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}


@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px); /* 이동하고자 하는 거리 조절 */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .e31_4,
  .e31_9,
  .e31_5,
  .e31_6,
  .e31_8,
  .e31_13,
  .e31_14,
  .e31_11 {
    animation: moveUpDown 2s infinite; /* 애니메이션 지속시간 및 반복 설정 */
  }

  @keyframes moveBackAndForth {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(40px); /* 이동하고자 하는 거리 조절 */
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .e31_15,
  .e31_40,
  .e31_49,
  .e31_41,
  .e31_42,
  .e31_43,
  .e31_44,
  .e31_45,
  .e31_46,
  .e31_47 {
    animation: moveBackAndForth 2s infinite; /* 애니메이션 지속시간 및 반복 설정 */
  }


  @keyframes bounceInFromSide {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .e31_37 {
    animation: bounceInFromSide 1s ease-out;
  }


  @keyframes invertColor {
    0% {
      filter: invert(0%);
    }
    100% {
      filter: invert(50%);
    }
  }

  
  .e31_39 {
    animation: invertColor 1s infinite alternate; /* 애니메이션 지속시간 및 반복 설정 */
  }